.footer {
  margin-top: 80px;
  background: #EAF5F9;
  padding-bottom: 80px;


  &__list {
    list-style: none;
    padding: 40px 0 35px;
    margin: 0;
    @media screen and (min-width: 890px){
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 30px;
    }
  }

  &__item {
    padding-bottom: 15px;
    @media screen and (min-width: 890px){
      padding: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--main-dark);
    &:hover{
      text-decoration-line: underline;
    }
  }

  &__info {
    margin: 0;
    color: #CBDFE6;
    padding-bottom: 16px;
    @media screen and (min-width: 890px){
      padding: 0;
    }
  }
}

.logo-footer {
  &__img{
    margin: auto;
  }
}
.footer-all{
  @media screen and (min-width: 890px){
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    z-index: -1;
  }
}
.footer-icon{
  justify-content: center;
  display: flex;
  gap: 15px;
}

