.promo-rates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 20px;
    line-height: 1.4;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, min(100px, 130px));
    grid-template-rows: min(40px, 40px);
    align-items: stretch;
    justify-content: center;

    &__cell {
      text-decoration: none;
      text-align: center;
      font-size: 12px;
      line-height: 1.4;
      padding: 12px;
      color: var(--main-dark);
      margin: 0;
      border: 1px solid #B4B4B4;
      border-right: none;


      &:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      &:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        border-right: 1px solid #B4B4B4;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      &:hover, &:focus {
        background: #EEEEEE;
        border-radius: 2px 0 0 2px;
        transition: 1s;
      }
    }
  }
}

.promo-prices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__desc {
    font-size: 18px;
    font-weight: 600;
    color: #20AF48;
    margin-top: 0;
    margin-bottom: 20px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 50px);
    justify-items: center;
    align-items: center;
    &__cell{
      width: 100%;
      padding-top: 18px;
      padding-bottom: 18px;
      text-align: center;
      &:nth-child(1) {
        border-top: 2px solid var(--main-dark);
      }
      &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
        border-top: 1px solid #EDEDED;
      }
    }

    &__link {
      font-size: 13px;
      text-decoration: none;
      color: var(--main-dark);
      &:hover{
        text-decoration-line: underline;
      }
    }
  }
}
.promo-img {
  padding-top: 40px;
}




