.section-with-phone {
  position: relative;
  padding-bottom: 60px;
  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 40px;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  &:first-child:before {
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    top: -87px;
    background: linear-gradient(27.37deg, #EFF243 -1.3%, #F0B379 101.01%);
    @media screen and (min-width: 890px) {
      position: absolute;
      background: linear-gradient(67.29deg, #EFF243 2.6%, #F06DB4 97.97%);
      border-radius: 30px;
      left: 100%;
      top: -194px;
      height: 1105px;
      clip-path: polygon(0 52%, 100% 0, 100% 48%, 0% 100%);
      z-index: -2;
      @media screen and (min-width: 1250px){
        max-width: 1105px;
      }
    }
  }

  &:nth-child(2):before {
    background: linear-gradient(73.59deg, #34E48F -8.4%, #3EDFF5 96.66%);
    @media screen and (min-width: 890px) {
      clip-path: polygon(0 52%, 100% 0, 100% 48%, 0% 100%);
      position: absolute;
      background: linear-gradient(67.29deg, #9043F2 2.6%, #87DBFF 97.97%);
      border-radius: 30px;
      height: 1105px;
      left: -150px;
      top: -870px;
      z-index: -3;
      @media screen and (min-width: 1250px){
        max-width: 1105px;
      }
    }
  }

  &:nth-child(3):before {
    background: linear-gradient(67.28deg, #FFE663 2.61%, #DE6DF0 98.48%);
    @media screen and (min-width: 890px) {
      background: none;
    }
  }

  &:nth-child(4):before {
    background: linear-gradient(67.29deg, #9043F2 2.6%, #87DBFF 97.97%);
    @media screen and (min-width: 890px) {
      background: none;
    }
  }

  &:nth-child(5):before {
    background: linear-gradient(67.28deg, #2BC0CA 2.61%, #A2E479 98.48%);
    @media screen and (min-width: 890px) {
      background: none;
    }
  }

  &:nth-child(6):before {
    background: linear-gradient(71.15deg, #E4B334 -4.61%, #F37474 96.78%);
    @media screen and (min-width: 890px) {
      background: none;
    }
  }

  &:nth-child(7):before {
    background: linear-gradient(67.28deg, #CE45C0 2.61%, #706DF0 98.48%);
    @media screen and (min-width: 890px) {
      background: none;
    }
  }

  &:nth-child(8):before {
    background: linear-gradient(67.29deg, #4393F2 2.6%, #87C6FF 97.97%);
    @media screen and (min-width: 890px) {
      background: none;
    }
  }

  &:nth-child(9):before {
    background: linear-gradient(67.29deg, #EFF243 2.6%, #F06DB4 97.97%);
    @media screen and (min-width: 890px) {
      background: none;
    }
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 100vw;
    height: 600px;
    transform: translateX(-50%);
    z-index: -1;
    bottom: -30px;
    clip-path: polygon(0 27%, 100% 0, 100% 73%, 0% 100%);
  }

  &__title {
    margin: 0 0 11px;
    font-size: 24px;
    line-height: 1.25;
    @media screen and (min-width: 767px) {
      font-weight: 700;
      font-size: 48px;
      line-height: 1.15;
    }
    @media screen and (min-width: 1250px) {
      font-size: 64px;
      line-height: 1.02;
    }
  }

  &__subtitle {
    margin: 40px 0 20px;
    font-size: 18px;
    @media screen and (min-width: 767px) {
      font-size: 30px;
    }
  }

  &__desc {
    margin: 0 0 10px;
    @media screen and (min-width: 767px) {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.5;
    }
  }

  &__subtitle + &__desc {
    margin-bottom: 0;
  }

  &__phone {
    margin: 40px auto 0;
    filter: drop-shadow(0 0 11px rgba(0, 0, 0, .6));
    @media screen and (min-width: 767px) {
      margin: 0;
      position: relative;
    }

    &:nth-child(1):before {
      @media screen and (min-width: 890px) {
        position: absolute;
        background: linear-gradient(67.29deg, #EFF243 2.6%, #F06DB4 97.97%);
        border-radius: 30px;;
        left: 463px;
        top: -245px;
        clip-path: polygon(0 32%, 100% 0, 100% 68%, 0% 100%);
        z-index: -200;
      }
    }
  }
}

.section-with-phone-info {
  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
  }
  @media screen and (min-width: 890px) {
    max-width: 350px;
  }
}

.icons {
  &:hover {
    scale: 105%;
    transition: 1s;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 767px) {
    padding-bottom: 23px;
  }
}

.carousel, .carousel-item {
  transition-duration: 1.5s;
}

